<div class='card mb-5'>
  <div class='row col-md-12'>
    <div class='col-md-4 my-3'>
      <img
        class='img-responsive m-5'
        src='{{user.image}}'
        style='width: 250px; transition: opacity 0.5s; opacity:0;'
        onload='this.style.opacity=1;'
      />
    </div>
    <div class='col-md-8'>
      <h5 class='card-title mt-3'>{{user.name}}</h5>
      <p class='card-text mt-3'>{{user.email}}</p>
      <p class='card-text'>{{filteredComments.length}} 已評論餐廳</p>
      <p class='card-text'>{{user.FavoritedRestaurants.length}} 收藏的餐廳</p>
      <p class='card-text'>{{user.Followings.length}} followings (追蹤者)</p>
      <p class='card-text'>{{user.Followers.length}} followers (追隨者)</p>
      {{#ifCond user.id userSelf.id}}
        <a href='/users/{{userSelf.id}}/edit' class='btn btn-primary'>Edit</a>
      {{/ifCond}}
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-4'>
    <div class='card text-center col-md-12'>
      <div class='card-header'>
        {{user.Followings.length}}
        followings (追蹤者)
      </div>
      <div class='card-body'>
        <ul class='list-group list-group-horizontal d-flex flex-wrap'>
          {{#each user.Followings}}
            <li class='list-group-item border-0'>
              <a href='/users/{{this.id}}'>
                <img src='{{this.image}}' style='width: 75px; height: 75px' />
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class='card text-center col-md-12 mt-3'>
      <div class='card-header'>
        {{user.Followers.length}}
        followers (追隨者)
      </div>
      <div class='card-body'>
        <ul class='list-group list-group-horizontal d-flex flex-wrap'>
          {{#each user.Followers}}
            <li class='list-group-item border-0'>
              <a href='/users/{{this.id}}'>
                <img src='{{this.image}}' style='width: 75px; height: 75px' />
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class='col-md-8'>
    <div class='card text-center col-md-12'>
        <div class='card-header'>
          {{filteredComments.length}}
          已評論餐廳
        </div>
        <div class='card-body'>
          <ul class='list-group list-group-horizontal d-flex flex-wrap'>
            {{#each filteredComments}}
              <li class='list-group-item border-0'>
                <a href='/restaurants/{{this.restaurantId}}'>
                  <img src='{{this.Restaurant.image}}' style='width: 100px;' />
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
    </div>
    <div class='card text-center col-md-12 mt-3'>
        <div class='card-header'>
          {{user.FavoritedRestaurants.length}}
          已收藏餐廳
        </div>
        <div class='card-body'>
          <ul class='list-group list-group-horizontal d-flex flex-wrap'>
            {{#each user.FavoritedRestaurants}}
              <li class='list-group-item border-0'>
                <a href='/restaurants/{{this.id}}'>
                  <img src='{{this.image}}' style='width: 100px;' />
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
    </div>
  </div>
</div>
